/* styles.css */
.gradientext {
    background: linear-gradient(
        to right,
        #cd49db 20%,
        #bd72a9 30%,
        #620fcf 70%,
        #aea4c4 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 1000;
 
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
