/* styles.css */
.gradientext {
    background: linear-gradient(
        to right,
        #FF204E 20%,
        #A0153E 30%,
        #00224D 70%,
        #5D0E41 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 750;
 
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
